html,body{
    background-color: black;
}

section{
   
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding-inline: 3em;
    top: 0;
    bottom: 0;
    
}

header{
    
    display: flex;
    align-items: center;
    gap:10px;
    font-size: large;
    margin-left: 2em;
    
}
.logo{
    
    font-size: 30px;
    transform:scaleX(-1);
    
}



main{
    width: 100%;
    height: 95vh;
    background-color: black;
    border: solid 2px blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    color:blueviolet;
    overflow: auto;
}

/* .content{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 4em;
    width: 83%;
    
} */


p{
    line-height: 30px;
    font-weight:500;
    width: 100%;
    text-align:left;
}

.title{
    font-size: xx-large;
    width: 30%;
}

article{
    width: 30%;
}

.container{
    background-image: url(https://media.ambito.com/p/db34e8dc8197eb58e68af33908aeeb5c/adjuntos/239/imagenes/038/987/0038987106/1200x675/smart/perros-peligrososjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
}