html, body{
    background-color: black;

}

main{
    height: 430px;
    width: 205px;
    margin: 0 auto;
    border: solid 3px greenyellow;
    border-radius: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;
  
}


article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    
}

h1{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-inline: auto;
}
p{
    padding-left: 1.5em;
    padding-right: 5em;
    font-size: small;
    
}
.title1{
    margin-top: 50%;
    display: flex;
    align-items: center;
    padding-inline: 1.5em;
    gap: 1em;
    margin-bottom: 0.5em;
}
.title2{
    margin-left: 0;
    padding-inline: 1.5em;

}

.img1{
    height: 30px;
    width: 80px;
}

.img2{
    width: 160px;
    height: 120px;

}